<div class="nav">
    <div class="container">
        <div class="pure-g">
            <div class="pure-u-2-3">
                <a href="javascript:;" class="nav-title">易编程课堂</a>
                <ul>
                    <li><a href="/">首页</a></li>
                    <!--
                    <li><a href="javascript:;">应用课</a></li>
                    <li><a href="javascript:;">语法课</a></li>-->
                </ul>
            </div>
            <div class="pure-u-1-3 text-right">
                <ul>
                    <!--
                    <li style="border-right:1px solid #cedbff;"><a href="javascript:;">欢迎您：秘法师</a></li>
                    <li><a href="javascript:;">安全退出</a></li>-->
                    <li><a href="javascript:;">注册 | 登录</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>