<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link type="text/css" rel="stylesheet" th:href="@{/pure-min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/home.css}" />
    <script type="text/javascript" th:src="@{/vue-min.js}"></script>
</head>
<body>
    <div id="app">
        <span th:include="site/_nav.html"></span>
        <div class="container">
            <div class="pure-g">
                <!--文章列表-->
                <div class="pure-u-3-4">
                    <div class="content-list">
                        <div class="title">最新文章</div>

                        <div class="content-item">
                            <div class="pure-g">
                                <div class="pure-u-3-4">
                                    <a href="/site/content" class="content-title">JavaScript基础课：让我们看看看神奇的函数</a>
                                    <div class="content-keyword">
                                        <a href="javascript:;" class="tag">应用课</a>
                                        <a href="javascript:;" class="tag">语法课</a>
                                    </div>
                                    <p class="content-summary">这里是文章内容的摘要</p>
                                </div>
                                <div class="pure-u-1-4 text-right">
                                    <img src="/images/default.jpg" class="content-cover" />
                                </div>
                            </div>
                            <div class="content-time">更新时间：2019-04-17 12:00</div>
                        </div>

                        <div class="content-item">
                            <div class="pure-g">
                                <div class="pure-u-3-4">
                                    <div class="content-title">JavaScript基础课：让我们看看看神奇的函数</div>
                                    <div class="content-keyword">
                                        <a href="javascript:;" class="tag">javascript</a>
                                        <a href="javascript:;" class="tag">函数</a>
                                        <a href="javascript:;" class="tag">基础课</a>
                                    </div>
                                    <p class="content-summary">这里是文章内容的摘要</p>
                                </div>
                                <div class="pure-u-1-4 text-right">
                                    <img src="/images/default.jpg" class="content-cover" />
                                </div>
                            </div>
                            <div class="content-time">更新时间：2019-04-17 12:00</div>
                        </div>

                    </div>
                </div>
                <!--右侧目录-->
                <div class="pure-u-1-4">
                    <div class="right-menu">
                        <div class="title">热门课程</div>
                        <a href="javascript:;" class="lesson-panel">
                            <div class="lesson-title">JavaScript初学者之旅</div>
                            <div class="pure-g lesson-footer">
                                <div class="pure-u-1-2">课时：10</div>
                                <div class="pure-u-1-2 text-right">修订：2019-04-17</div>
                            </div>
                        </a>
                        <a href="javascript:;" class="lesson-panel">
                            <div class="lesson-title">JavaScript语法课</div>
                            <div class="pure-g lesson-footer">
                                <div class="pure-u-1-2">课时：10</div>
                                <div class="pure-u-1-2 text-right">修订：2019-04-17</div>
                            </div>
                        </a>
                        <P>&nbsp;</P>
                        <div class="title">实战项目</div>
                        <a href="javascript:;" class="lesson-panel">
                            <div class="lesson-title">Autumn 框架</div>
                            <div class="lesson-footer">
                                基于PHP语言实现的容器式MVC框架
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="foot-link text-center">
                    <a href="javascript:;">关于我们</a>
                    <a href="javascript:;">技术支持</a>
                    <a href="javascript:;">意见建议</a>
                    <a href="javascript:;">合作事宜</a>
                    <a href="javascript:;">联系我们</a>
                </div>
                <div class="foot-mark text-center">
                    &copy; 2019 蓝欣科技 版权所有 浙ICP备 2211208号
                </div>
            </div>
        </div>
    </div>
</body>
</html>