/**
* jet-sdk css
* ======
* @author 洪波
* @version 19.01.11
*/

.fade-enter-active, .fade-leave-active {
	transition: opacity .5s;
  }
.fade-enter, .fade-leave-to {
	opacity: 0;
}

body {
    padding: 0;
    margin: 0;
	font-size: 14px;
}

.container {
	margin: 70px auto;
	max-width: 1170px;
}

.content-title-xl {
	font-size:30px;
	color:#333;
}
.content-title-md {
	font-size:26px;
	color:#666;
}
.content-title-sm {
	font-size:20px;
	color:#996600;
}
.content-table {
	width: 100%;
}
.content-table thead {
	background-color: #eee;
}
.content-table th,.content-table td {
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-align: left;
}
.content-image {
	text-align: center;
}
.content-image img {
	max-width: 100%;
}
.content-file a {
	color: #74cef1;
	font-size: 13px;
	font-weight: bold;
}
.content-file a:hover {
	color: #0095cf;
}

.btn-xs {
	font-size: 70%;
}
.btn-sm {
	font-size: 85%;
}
.btn-lr {
	font-size: 110%;
}
.btn-xl {
	font-size: 125%;
}
.btn-green,
.btn-red,
.btn-orange,
.btn-blue {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-green {
	background: rgb(49, 201, 85); /* this is a green */
}
.btn-red {
	background: rgb(238, 77, 77); /* this is a maroon */
}
.btn-orange {
	background: rgb(248, 186, 71); /* this is an orange */
}
.btn-blue {
	background: rgb(66, 184, 221); /* this is a light blue */
}

.inline {
	display: inline;
}
.block {
	display: block !important;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right !important;
}
.pull-right {
	float: right !important;
}
.pull-left {
	float: left !important;
}

.nav {
	height: 49px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
	
}
.nav-warp {
	margin: 0 auto;
	max-width: 1170px;
}
.nav-fixed-top {
	position: fixed;
	top: 0;
	width: 100%;
}
.nav-title {
	font-size: 18px;
	color: #666;
}
.nav-title {
	padding-right: 20px;
}
.nav-menu {
	padding: 0;
	margin: 0;
}
.nav-menu li {
	margin: 0;
	display: inline-block;
	list-style: none;
}
.nav-menu li a {
	display: block;
	font-size: 16px;
	text-decoration: none;
	color: #888;
	padding: 14px 20px;
	margin-right: 1px;
}
.nav-menu li.active a {
	background-color: #e5e5e5;
	color: #666;
}
.nav-menu li a:hover {
	background-color: #eee;
}

.alert {
	padding: 10px 20px;
	border-radius: 8px;
}
.alert p {
	margin: 5px 0 5px;
	font-size: 12px;
}
.alert-info {
	background: #c0edff;
	color: #0095cf;
	border: 1px solid #74cef1;
}

.table {
	width: 100%;
	margin-top: 10px;
	color: #666;
	font-size: 12px;
}
.table th,.table td {
	border: 1px solid #ddd;
	border-left: none;
	border-right: none;
	padding: 4px 8px;
}
.table th {
	border-bottom: 2px solid #ccc;
	background-color: #f6f6f6;
	text-align: left;
	padding: 8px;
}
.table td img {
	border-radius: 4px;
}

.breadcrumb {
	font-size: 12px;
	padding: 6px 20px;
	background: #f5f5f5;
	border-radius: 5px;
}
.breadcrumb ul {
	margin: 0;
	padding: 0;
}
.breadcrumb ul li {
	margin-left: 4px;
	display: inline-block;
	list-style: none;
	color: #ccc;
}
.breadcrumb ul li a {
	color: #fa6800;
	text-decoration: none;
}
.breadcrumb ul li a:hover {
	color: #fa5500;
}

.pagination {
	margin: 10px 0;
}
.pagination ul {
	margin: 0;
	padding: 0;
}
.pagination ul li {
	list-style: none;
	display: inline-block;
	margin-right: 2px;
}
.pagination ul li a {
	display: inline-block;
	height: 22px;
	width: 32px;
	font-size: 14px;
	padding-top: 9px;
	text-align: center;
	background-color: #f6f6f6;
	border: 1px solid #ddd;
	color: #999;
	text-decoration: none;
	border-radius: 2px;
}
.pagination ul li a:hover {
	background-color: #eee;
}
.pagination ul li.active a {
	background-color: #c0edff;
	color: #0095cf;
	border-color: #74cef1 !important;
}
.pagination ul li.active a:hover {
	background-color: #74cef1;
	color: #fff;
	border-color: #74cef1 !important;
}

.modal {
	position: fixed;
	top:0;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	overflow: scroll;
}
.modal-wrap {
	width: 60%;
	background-color: #fff;
	margin: 50px auto;
	border-radius: 8px;
	box-shadow: 4px 4px 8px #555;
}
.modal-title {
	padding: 10px 20px;
	font-size: 18px;
	font-weight: bold;
	color: #666;
	border-bottom: 1px solid #ccc;
}
.modal-content {
	padding: 20px;
}
.modal-footer {
	padding: 10px 20px;
	text-align: right;
	border-top: 1px solid #ccc;
}

.legend {
	margin: 10px 0;
	border-left: 3px solid #0095cf;
	font-size: 16px;
	color: #666;
	padding-left: 10px;
}
.legend small {
	color: rgb(189, 163, 91);
}
.input {
	border: none;
	border-bottom: 1px solid #aaa;
	width: 100%;
	padding: 10px 0;
	font-size: 20px;
	color: #333;
	margin-bottom: 10px;
}
.input-sm {
	padding: 6px 0;
	font-size: 14px;
}
.input:focus {
	border-color: #0095cf;
}