<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanxin.pandora.mappers.ContentMapper">
    <select id="findNewSort" parameterType="String" resultType="Map">
        select sort from content where fid=#{fid} order by sort desc limit 1
    </select>
    <insert id="insert" parameterType="com.lanxin.pandora.beans.ContentBean">
        insert into content (id,fid,cover,title,keyword,data,detail,sort,createTime,changeTime,status) 
        values (#{id},#{fid},#{cover},#{title},#{keyword},#{data},#{detail},#{sort},#{createTime},#{changeTime},#{status})
    </insert>
    <select id="count" parameterType="com.lanxin.pandora.tools.Criteria" resultType="int">
        select count(*) from content
        <if test="condition!=''">where ${condition}</if>
    </select>
    <select id="query" parameterType="String" resultType="com.lanxin.pandora.beans.ContentBean">
        select * from content where id=#{id}
    </select>
    <select id="queryList" parameterType="com.lanxin.pandora.tools.Criteria" resultType="com.lanxin.pandora.beans.ContentBean">
        select ${select} from content
        <if test="condition!=''">where ${condition}</if>
        <if test="order!=''">order by ${order}</if>
        limit ${offset}, ${limit}
    </select>
    <update id="updateInfo" parameterType="Map">
        update content set
        <foreach collection="map" item="value" index="key" separator=",">
            <if test="key!='id'">
                ${key}=#{value}
            </if>
        </foreach>
        <where>
            id=#{map.id}
        </where>
    </update>
    <delete id="delete" parameterType="String">
        delete from content where id=#{id}
    </delete>
</mapper>