<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pandora Dashboard.</title>
    <link type="text/css" rel="stylesheet" th:href="@{/pure-min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/main.css}" />
    <script type="text/javascript" th:src="@{/main.js}"></script>
    <script type="text/javascript" th:src="@{/vue-min.js}"></script>
    <style>
        .file-input {
            position: absolute;
            filter: alpha(opacity=0);
            opacity:0;
            width:114px;
            height:34px;
        }
        .c-btns-item {
            padding: 2px;
        }
        .table td {
            text-align: center;
        }
        .table td a {
            font-size: 14px;
            color: #0095cf
        }
        .table td input {
            width: 100%;
            border: none;
            padding: 6px 0;
            font-size: 14px;
            color: #333;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="app">
        <span th:include="home/_nav"></span>
        <div class="container">
            <div class="pure-g">
                <div class="pure-u-1-2">
                    <input v-on:change="uploadFile" class="file-input" type="file">
                    <button type="button" class="pure-button btn-blue">上传资源文件</button>
                </div>
                <div class="pure-u-1-4">
                    文件总数：<b>{{allCount}}</b> 个
                </div>
                <div class="pure-u-1-4 text-right">
                    <div class="pure-form">
                        <input type="text" class="pure-input">
                        <button type="button" class="pure-button">搜索</button>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th style="width:200px;">文件名</th>
                        <th>类型</th>
                        <th>存储路径</th>
                        <th>占用空间</th>
                        <th>创建时间</th>
                        <th style="width:50px;">排序</th>
                        <th style="width:150px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in resourceList">
                        <td><input type="text" v-bind:value="item.name" v-on:change="setValue(item.id, 'name', $event)"/></td>
                        <td>{{item.type}}</td>
                        <td><a v-bind:href="'/resource/image/'+item.path" target="_blank">{{item.path}}</a></td>
                        <td>{{(item.size/1024).toFixed(2)+' kb'}}</td>
                        <td>{{dateFormat('y-m-d h:i', item.time*1000)}}</td>
                        <td><input type="text" v-bind:value="item.sort" v-on:change="setValue(item.id, 'sort', $event)"/></td>
                        <td>
                            <div class="pure-g">
                                <div class="pure-u-1-2">
                                    <div class="c-btns-item"><button type="button" class="pure-button btn-sm pure-u-1">设为封面</button></div>
                                </div>
                                <div class="pure-u-1-2">
                                    <div class="c-btns-item"><button type="button" class="pure-button btn-sm btn-orange pure-u-1">删除</button></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script>
    const LIMIT = 10;
    const vue = new Vue({
        el: '#app',
        data: {
            offset: 0,
            bid: '[[${bid}]]',
            resourceList: [],
            allCount: 0
        },
        methods: {
            init: function(){
                this.loadResourceList();
            },
            uploadFile: function(event){
                let formData = new FormData();
                formData.append('file', event.target.files[0]);
                formData.append('bid', vue.bid);
                httpRequest(
                    '/resource/upload.do',
                    formData,
                    function(res){
                        if (res.code == 1) {
                            vue.loadResourceList();
                        }
                    },
                    'json', true
                );
            },
            setValue: function(id, field, event) {
                let val = event.originalTarget.value;
                if (field == 'sort') {
                    if (!/^\d+$/.test(val) || val <=0) {
                        alert('排序必须为正整数');
                        return;
                    }
                }
                httpRequest(
                    '/resource/setAttribute.do',
                    {id: id, field: field, value: val}
                )
            },
            loadResourceList: function(){
                httpRequest(
                    '/resource/getList.do',
                    {offset: vue.offset, limit: LIMIT, bid: vue.bid},
                    function(res) {
                        if (res.code == 1) {
                            vue.resourceList = res.result;
                        }
                    },
                    'json'
                );
            }
        }
    });
    vue.init();
</script>
</html>